# Backup files
*~

# Build related directories
.pootle_phases_tmp/
.pootle_tmp/

# alt-src languages
es/
fr/
ru/

# Translate Toolkit scripts
.ttk/*.workon

# Script special files: logs, locks, change ids
LOG_*
RUNNING_*
LAST_COMMIT_*

# Work dirs
build/
source/

# Platform files
# Mac
.DS_Store
